@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #F9F9F9;
}

header {
  background-color: #FFFFFF;
  padding: 1rem 2rem;
}

nav, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  margin-right: 2rem;
}

header li:last-child {
  margin-right: 0;
}


.circle {
  background-color: #464646;
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

input {
  border-color: #CCCCCC;
  height: 2.5rem;
  width: 20vw;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-btn {
  background-color: #F8F8F8;
  border-color: #CCCCCC;
  height: 2.5rem;
  padding: 0rem 1rem;
}

main {
  margin: 1rem 0rem 0rem 4.5rem;
  display: flex;
}

main p {
  color: #515151;
}

h1 {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  color: black;
}

.screen {
  background-color: #131313;
  width: 60vw;
  height: 60vh;
}

.video-specs {
  padding-top: 1rem;
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.channel-specs, .thumbs-up, .thumbs-down, .share, .download {
  display: flex;
  align-items: center;
}

.video-specs h4, .video-specs p {
  font-size: 14px;
}

.subscribe {
  background-color: #CC0000;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border: none;
}

.data, .description {
  padding-top: 1rem;
  width: 60vw;
}

.video-specs .circle, .video-specs a {
  margin-right: 0.5rem;
}

aside {
  margin-left: 2rem;
}

.mini-video {
  display: flex;
  margin: 1rem 0rem;
}

.mini-video:first-child {
  margin-top: 0rem;
}

.mini-screen {
  background-color: #131313;
  width: 15vw;
  height: 15vh;
}

.mini-video h4 {
  font-size: 14px;
}

.mini-video p {
  font-size: 12px;
}

.mini-video-specs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  padding-right: 2rem;
}